<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yellow Tea Panda</title>
    <meta name="author" content="Thomas Hertleif, Patrick Felsch, Niklas Friedrich"
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.0.3/milligram.min.css"/>
</head>
<body>
    <div class="container">
        <h1>Xenosaurus DB</h1>
            <h2><a href="shows/shows">Shows</a></h2>
    </div>
</body>
</html>