<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}} - Xenosaurus</title>
    <meta name="author" content="Thomas Hertleif, Patrick Felsch, Niklas Friedrich"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.0.3/milligram.min.css"/>
</head>
<body>
    <nav class="container">
        <a class="button button-outline" href="/shows">Shows</a>
        <a class="button button-outline" href="/movies">Movies</a>
    </nav>

    <div class="container">
        {{{body}}}
    </div>
</body>
</html>