<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{movie.name}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.0.3/milligram.min.css"/>
</head>
<body>
    <ul>
        {{#each movies}}
        <li>
            <a href="/movie/{{this.id}}">
                {{this.name}} ({{this.language}})
            </a>
        </li>
        {{/each}}
    </ul>
</body>
</html>