<h1>Movies</h1>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Language</th>
            <th>Lenght</th>
            <th>Genre</th>
        </tr>    
    </thead>
         <tbody>            
            {{#each movies}}
                <tr>
                <td><a href="/movie/{{this.id}}">{{this.name}}</a></td>
                <td>{{this.language}}</td> 
                <td>{{this.lenght}} min</td>
                <td></td>             
                </tr>
            {{/each}}    
      <tbody>  
</table>